@page "/vocabulary"
@inherits VocabularyBase

<div class="row form-row">
    <div class="col-lg-2 col-sm-4">Languages:</div>
    <div class="col-lg-10 col-sm-8">
        <Dropdown DropdownItems="languages"
                  AddEmpty="true"
                  OnChange="(id) => newWord.IdLanguage = id"
                  Disable="requestSent" />
    </div>
</div>

<div class="row form-row">
    <div class="col-lg-2 col-sm 4">
        Original meaning:
    </div>
    <div class="col-lg-10 col-sm-8">
        <input class="form-control" @bind="newWord.OriginalMeaning" disabled="@requestSent" />
    </div>
</div>

<div class="row form-row">
    <div class="col-lg-2 col-sm 4">
        Translate meaning:
    </div>
    <div class="col-lg-10 col-sm-8">
        <input class="form-control" @bind="newWord.TranslateMeaning" disabled="@requestSent" />
    </div>
</div>

<div class="row form-row">
    <div class="col-12">
        <button class="btn btn-success" @onclick="AddWord" disabled="@requestSent">Add new</button>
        <Spinner Show="requestSent"></Spinner>
    </div>
</div>



<hr />

<div class="row form-row">
    <div class="col-lg-2 col-sm 4">
        Filter
    </div>
    <div class="col-lg-10 col-sm-8">
        <input class="form-control" @bind="filters.Filter" disabled="@requestGetSent" />
    </div>
</div>


<div class="row form-row">
    <div class="col-lg-2 col-sm 4">
        Language
    </div>
    <div class="col-lg-10 col-sm-8">
        <Dropdown DropdownItems="languages"
                  AddEmpty="true"
                  OnChange="(id) => filters.IdLanguage = id"
                  Disable="requestGetSent" />
    </div>
</div>
<div class="row form-row">
    <div class="row form-row">
        <div class="col-12">
            <button class="btn btn-success" @onclick="GetWords" disabled="@requestGetSent">Search</button>
        </div>
    </div>
</div>

<Spinner Show="requestGetSent"></Spinner>
@if (words != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Original meaning</th>
                <th>Translate meaning</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var word in words)
            {
                <tr>
                    <td>@word.OriginalMeaning</td>
                    <td>@word.TranslateMeaning</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteTranslate(word.IdTranslate)">
                            Delete
                        </button></td>
                </tr>
            }
        </tbody>
    </table>
}

